/* reset default styles */
@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan|Josefin+Sans&display=swap");


$curve-borders: 5px;
$primary-black: rgb(77, 77, 77);
$secondary-black: lighten($primary-black, 10%);
$light-grey: lighten($primary-black, 60%);
$super-light-grey: rgb(201, 69, 69);
$btn-color: rgb(115, 216, 203);


// Dumble colors
$primary-col: rgb(17,36,68);
// $primary-text-col: rgb(228,36,68);
$primary-text-col: rgb(228,232,240);

$secondary-col: rgb(138, 127, 167);
$accent-col: #883a59;
$light-accent-col: #eee2d91c;
// $light-accent-col: rgb(225, 186, 108);
$dumble-nav-bar-col: $primary-col;
$dumble-result-card-col: lighten($dumble-nav-bar-col,45%);
$dumble-result-card-bor-col: #70809008;
$dumble-search-modal-col: rgb(240, 181, 63);
$dumble-search-modal-bor-col: #bfa87a;
$dumble-price-col: #a70f0fe5;
$dubmle-ig-www-col: #000000bd;
$dumble-heart-color: black;
$dumble-heart-color-selected: #9b0404;

#g-signin2{
  position: fixed;
  right: 48px;
  top: 5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.nav-bar{  
  font-family: 'Baloo Chettan', cursive;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0px;
  z-index: 2;
  padding: 10px;
  background-color:$dumble-nav-bar-col;
  height: 100px;
  #logo{
    color: $primary-text-col;
    font-size: 4rem;
  }
}

.search-modal{
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 400px;
  padding-top: 20px;
  padding-left: 25px;
  background-color: $dumble-search-modal-col;
  font-size: 1.5rem;
  margin-top: 200px;
  border: 1px solid $dumble-search-modal-bor-col;
  ::-webkit-datetime-edit { padding: 10px; font-family: 'Josefin Sans', sans-serif;}

  input {
    padding-left: 10px;
    margin-top: 10px;
    width: inherit;
    font-size: 1.3rem;
    width: 350px;
    height: 50px;
    border: solid 1px $dumble-search-modal-bor-col;
  }
  button {
    font-family: 'Baloo Chettan', cursive;
    font-weight: lighter;
    font-size: 1.6rem;
    width: 350px;
    height: 60px;
    color: $primary-text-col;
    background-color: $accent-col;
    border: none;
  }
}

.main-body-with-modal{
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-body-without-modal{
  width: 100%;
}

.search-form{
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.result-cards{
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  justify-items: center;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.result-card{
  border: solid 1px $dumble-result-card-bor-col;
  background-color: $light-accent-col;
  position: relative;
  padding:20px;
  img{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.card-price{
  padding-top: 10px;
  font-size: 1.5rem;
  color: $dumble-price-col;
}

.itinerary-items{
  color: $primary-text-col;
  font-size: 2rem;
  align-self: center;
  padding-right: 35px;
}

.card-www{
  color: $dubmle-ig-www-col;
}
.card-ig{
  color: $dubmle-ig-www-col;
}


/* heart icon for liking  */
/* borrowed from the intenet */
.liked-heart {
  position: relative;
  top: -120px;
  right: -320px;
  background-color:  $dumble-heart-color-selected;
  display: inline-block;
  height: 12px;
  margin: 0 10px;
  position: relative;
  transform: rotate(-45deg);
  width: 12px;
}

.liked-heart:before,
.liked-heart:after {
  content: "";
  background-color: $dumble-heart-color-selected;
  border-radius: 50%;
  height: 12px;
  position: absolute;
  width: 12px;
}

.liked-heart:before {
  top: -6px;
  left: 0;
}

.liked-heart:after {
  left: 6px;
  top: 0;
}

.not-liked-heart {
  background-color: $dumble-heart-color;
  display: inline-block;
  height: 12px;
  margin: 0 10px;
  position: relative;
  top: -120px;
  right: -320px;
  transform: rotate(-45deg);
  width: 12px;
}

.not-liked-heart:before,
.not-liked-heart:after {
  content: "";
  background-color: $dumble-heart-color;
  border-radius: 50%;
  height: 12px;
  position: absolute;
  width: 12px;
}

.not-liked-heart:before {
  top: -6px;
  left: 0;
}

.not-liked-heart:after {
  left: 6px;
  top: 0;
}

